@using Vidly.Models.ViewModels
@model CustomerFormViewModel
           
@using (@Html.BeginForm("CustomerForm", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Customer.Name)
        @Html.TextBoxFor(model => model.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Customer.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Customer.DateOfBirth)
        @Html.TextBoxFor(model => model.Customer.DateOfBirth, "{0:MM/dd/yyyy}", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Customer.MembershipTypeId)
        @Html.DropDownListFor(
            model => model.Customer.MembershipTypeId,
            new SelectList(@Model.MembershipTypes, "Id", "Name"),
            "Please select",
            new { @class = "form-control" }
            )
        @Html.ValidationMessageFor(model => model.Customer.MembershipTypeId)
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(model => model.Customer.IsSubscribedToNewsletter) Subscirbe to newsletter ?
        </label>
    </div>
    @Html.HiddenFor(model => model.Customer.Id)
    <input type="submit" class="btn btn-primary" value="Save" />
}

