@using Vidly.Models.ViewModels
@model MovieFormViewModel

@using (@Html.BeginForm("Create", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ReleaseDate)
        @Html.TextBoxFor(model => model.ReleaseDate, "{0:MM/dd/yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ReleaseDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AddedDate)
        @Html.TextBoxFor(model => model.AddedDate, "{0:MM/dd/yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.AddedDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NumberInStock)
        @Html.TextBoxFor(model => model.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NumberInStock)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GenreLkpId)
        @Html.DropDownListFor(model => model.GenreLkpId,
            new SelectList(Model.GenreLkps, "Id", "Name"),
            "Select Genre",
            new { @class = "form-control" }
            )
        @Html.ValidationMessageFor(model => model.GenreLkpId)
    </div>

    @Html.HiddenFor(model => model.Id)
    @Html.AntiForgeryToken()
    <input class="btn btn-primary" type="submit" value="Save" />
}